    </div>
    <div class="clearfix">&nbsp;</div>
    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">&copy; 2010 - 2020</span>
        </div>
    </footer>
</body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46567984-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-46567984-4');
    </script>
</html>